In [1]:
pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [2]:
t = (1,1,2,2,3,3)
print(t)

(1, 1, 2, 2, 3, 3)

In [ ]:
#lista = [1,2,3]

#tupla = (1,2,3)

#si deja modificar 
#lista[0]=10

#no se puede modificar un valor, da error
#tupla[0]=10

In [ ]:

#coor = (40.3452, -74.2345)
# coor[0] = 41.0  da error porque es inmutable

In [ ]:
tupla1 = (1,2,3)  #tupla con enteros
tupla2 = ("a", "b", "c") #tupla con cadenas de texto
tupla3 = (1, "holis", 3.5) #tupla con tipos mixtos
tupla4 = () #tupla vac√≠a
tupla5 = (5,) #tupla con un solo elemento

#para que sea una tupla de un solo elemento, debe llevar una coma al final (5,)

In [ ]:
tupla = ("Python", 2025, True)
print(tupla[0]) #accede al primer elemento
print(tupla[1]) 
print(tupla[-1])

In [ ]:

tupla = (10, 20, 30, 40, 50)

print(tupla[1:4]) # del indice 1 al 3 (20, 30,40)
print(tupla[:3]) #desde el inicio hasta el indice 2 (10, 20 30)
print(tupla[::2]) #saltando de 2 en 2 (10, 30, 50)

In [ ]:
colores = ("rojo", "verde", "azul")

for color in colores:
    print(color)

In [ ]:
t = ((1,2), (3,4)), (5,6)

print(t[0])
print(t[0][1])

In [3]:
t1 = (1,2,3)
t2 = (4,5,6)

rs = t1 + t2

print(rs) #(1,2,3,4,5,6)

(1, 2, 3, 4, 5, 6)

In [4]:
t = ("python",) *3

print(t) #('python','python','python')

('python', 'python', 'python')

In [5]:
t = (10,20,30,40)

print(20 in t) #true
print(20 not in t) #true

True
False

In [6]:
persona = ("Darian", 18, "Colombia")
nombre, edad, pais = persona

print(nombre)
print(edad)
print(pais)

Darian
18
Colombia

In [7]:
t = (1,2,2,3,4)

print(t.count(2)) #2
print(t.index(3)) #3

2
3

In [8]:
t = (5,1,7,3)

print(len(t)) #elemtos #4
print(max(t)) #elemento mayor #7
print(min(t)) #elemento menor #1
print(sum(t)) #suma todo16
print(sorted(t)) #lista ordenada [1,3,5,7]

4
7
1
16
[1, 3, 5, 7]

In [9]:
lista = [1,2,3]
tupla = tuple(lista)
print(tupla) #(1,2,3)

nueva_lista = list(tupla)
print(nueva_lista) #[1,2,3]

(1, 2, 3)
[1, 2, 3]

In [ ]:
persona = ("Darian", 18, "Colombia")

#acceder a cada atributo usando indices 
print("Nombre:", persona[0])
print("Edad:", persona[1])
print("Pais:", persona[2])

#util cuando los datos no deben cambiar

In [10]:
coor = {}

punto = (10,20)

coor[punto] = "Ubicacion A"
print(coor) #{(10,20): 'Ubicacion A}

{(10, 20): 'Ubicacion A'}

In [ ]:
def ope(a,b):
    return a+b, a-b, a*b

suma, resta, pro = ope(5,3)
print(suma,resta,pro) #8 2 15